:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --bg-color: #f0f0f5;
  --bg-color-input: #f3f5f6;
  --text-color: #737380;
  --title-color: #5d5d6d;
  --white-color: #ffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif !important;
  background-color: var(--bg-color);
}

button {
  border: none;
  background-color: transparent;
  color: none;
  cursor: pointer;
}
