:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif !important;
}
